/* Container Styles */
.start-session__container {
  width: 100%;
  height: 100%;
  min-height: 175px;
  min-width: 270px;
  background-color: rgb(54, 92, 170);
  border-radius: 7px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06), 0 15px 35px rgba(42,51,83,0.12);
  font-family: 'Roboto', sans-serif;
}

.start-session__container--hidden {
  visibility: hidden;
  opacity: 0;
}

/* Header Styles */
.start-session__header {
  background-color: rgb(54, 92, 170);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 112px;
}

.start-session__title {
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.start-session__message {
  width: 80%;
  font-size: 0.85em;
  margin-top: 5px;
}

/* Content Styles */
.start-session__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0 2px 7px rgba(17,18,18,0.21);
  position: relative;
  padding: 10px;
}

/* Goal Section */
.start-session__goal-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #CCCCCC;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.3;
  flex-grow: 1;
}

.start-session__goal-message > .fas {
  margin-left: 5px;
  color: #CCCCCC;
  font-size: 2.4em;
  font-weight: 700;
}

.start-session__session-info {
  display: flex;
  flex-basis: auto;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  color: rgb(54, 92, 170);
  font-size: 1.25em;
  font-weight: 300;
  flex-grow: 2;
}

.start-session__target-info, .start-session__second-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
}

.start-session__goal-num {
  height: 50px;
  width: 50px;
  background-color: rgb(12, 127, 64);
  color: white;
  border-radius: 50%;
  display: inline-block;
  line-height: 47px;
  text-align: center;
  margin-right: 5px;
  font-size: 1.8em;
  font-weight: 900;
  box-shadow: 0 2px 7px rgba(17,18,18,0.21);
}

/* Start Section */
.start-session__start-content {
  color: #F39C12;
  flex-grow: 1;
}

.start-session__start-msg {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #CCCCCC;
}

.start-session__start-btn {
  border: none;
  padding: 0;
  margin-top: 3px;
  font: inherit;
  outline: inherit;
  background: none;
  font-size: 1.3em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  background-color: #F39C12;
  cursor: pointer;
  width: 135px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(17,18,18,0.21);
}

.start-session__start-btn:hover {
  background-color: #f08d00;
}

.start-session__start-btn:active {
  background-color: #F39C12;
}

.start-session__loading-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 7px;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s ease-in;
}

.start-session__loading-container--fading {
  opacity: 0;
}

/*          QUIZ          */

/* Quiz Styling */
.quiz__container {
  visibility: visible;
  opacity: 1;
  position: absolute;
  left: 0px;
  top: 110px;
  width: 100%;
  height: 80%;
  min-height: 450px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: rgb(90,142,203);
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  transition: 0.2s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06), 0 15px 35px rgba(42,51,83,0.12);
}

.quiz__container--hidden {
  visibility: hidden;
  opacity: 0;
}

.quiz__question-prompt {
  margin: 15px auto 15px auto;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  height: 12%;
  padding: 1%;
}

.quiz__quiz-container--hidden {
  display: none;
}

.quiz__quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EDF0F1;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  min-height: 0px;
  overflow: none;
  box-shadow: 0 2px 7px rgba(17,18,18,0.21);
}

.quiz__question-container {
  display: none;
}

.quiz__question-container--show {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EDF0F1;
  border-radius: 5px;
  height: 60%;
  width: 100%;
  flex-grow: 1;
}

.quiz__question {
  margin: auto auto 0 auto;
  font-size: 2.2em;
  color: rgb(54, 92, 170);
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  line-height: normal;
}

.quiz__subquestion-container {
  width: 80%;
  max-width: 900px;
  margin: auto auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.quiz__question-container hr {
  width: 80%;
  max-width: 900px;
  border: 0;
  height: 1px;
  background: #333;
}

.quiz__subquestion {
  font-size: 1.3em;
  color: rgb(54, 92, 170);
  font-weight: 700;
  letter-spacing: 1px;
}

.quiz__subquestion-answers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  //margin: 0 auto;
  padding: 12px; 
}
.quiz__sleep-count-input {
  visibility: hidden;
  position: absolute;
}
.quiz__sleep-count-display {
  font-size: 5em;
  color: rgb(54, 92, 170);
  font-weight: 700;
  text-align: center;
  min-width: 60px;
}

.quiz__increment-btn,
.quiz__answer-btn {
  border: none;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.quiz__increment-btn svg {
  width: 30px;
  height: 30px;
}

.quiz__answer-btn svg {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.quiz__answer-btn input {
  visibility: hidden;
  position: absolute;
}

.quiz__increment-btn svg path,
.quiz__answer-btn svg path {
  fill: #929292;
}

.quiz__increment-btn svg:hover path,
.quiz__answer-btn svg:hover path {
  fill: #7d97b6;
}

.quiz__increment-btn:active + svg path,
.quiz__answer-btn > input:checked + svg path {
  fill: #365caa;
}

.quiz__close-btn {
  align-self: flex-end;
  position: absolute;
  width: 40px;
  height: 40px;
}

.quiz__close-btn > path {
  fill: #cfd8e2;
}

.quiz__close-btn:hover > path {
  fill: #EDF0F1;
}

.quiz__close-btn:active > path {
  fill: #cfd8e2;
}

/*          FEELING QUESTION          */

.quiz__answers--feeling {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  flex: 3 2 300px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.quiz__answer--feeling {
  font-size: 7em;
  color: #929292;
  transition: 0.1s ease-in;
  animation-duration: 0.4s;
  animation-name: slideIn;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  margin: 0 10px;
}

.quiz__answer--feeling > input {
  visibility: hidden;
  position: absolute;
}

.quiz__answer--feeling > input + i {
  cursor: pointer;
}

.quiz__answer--feeling > input:checked + i {
  color: #365caa;
  opacity: 1.0;
}

.quiz__answer--feeling:hover {
  transform: scale(1.1);
  color: #7D97B6;
}

.quiz__answer--feeling:active {
  transition: transform 0.05s;
  color: #365CAA;
}

/*          MOOD QUESTION          */

.quiz__answers--mood {
  width: 100%;
  max-width: 900px;
  max-height: 400px;
  align-self: center;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: auto;
  column-gap: 10px;
  row-gap: 10px;
  justify-items: center;
  align-items: center;
  font-weight: 700;
}

.quiz__answer--mood {
  width: 100%;
  text-align: center;
  opacity: 1;
  padding: 10px 30px;
  color: #365caa;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(17,18,18,0.21);
  cursor: pointer;
  flex-grow: 1;
  text-transform: uppercase;
}

.quiz__answer--mood >div {
  width: 100%;
}

.quiz__answer--mood:hover {
  opacity: 1;
  color: #365caa;
  background-color: #cfd8e2;
  box-shadow: none;
}

.quiz__answer--mood.quiz__answer--mood-selected {
  opacity: 1;
  background-color: #365caa;
  color: #EDF0F1;
  box-shadow: none;
}

/*          NAV BUTTON STYLING          */

.quiz__nav-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: flex-end;
  margin-bottom: 10px;
  width: 100%;
}

.quiz__go-back, .quiz__go-next {
  border: none;
  text-decoration: none;
  background-color: rgb(79, 184, 102);
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  font-size: 1.3em;
  font-weight: 700;
  box-shadow: 0 2px 7px rgba(17,18,18,0.21);
  transition: 0.08s ease-in-out;
  cursor: pointer;
}

.quiz__go-back--hide {
  display: none;
}

.quiz__go-back {
  background-color: #EDF0F1;
  color: rgb(79, 184, 102);
  border: 3px solid rgb(79, 184, 102);
}

.quiz__go-back:focus, .quiz__go-next:focus {outline: none;}

.quiz__go-back:hover {
  color: #48995a;
  border: 3px solid #48995a;
}

.quiz__go-next:hover {
  background-color: #48995a;
  color: white;
}


/* Responsive stylings for quiz */ 
@media screen and (max-width: 550px) { 
  .quiz__question { 
    font-size: 2em; 
    margin-top: 5px; 
  } 
  .quiz__nav-btns { 
    justify-content: space-around; 
  } 
} 
 
@media screen and (max-width: 1000px) { 
  .quiz__answer--feeling { 
    font-size: 5em; 
  } 
} 
 
@media screen and (max-width: 695px) { 
  .quiz__answer--feeling { 
    font-size: 3.5em; 
  } 
  .quiz__nav-btns { 
    justify-content: space-around; 
  } 
} 
 
@media screen and (max-width: 525px) { 
  .quiz__nav-btns { 
    justify-content: space-around; 
  } 
} 

@media screen and (max-width: 960px) { 
  .quiz__answers--mood { 
    width: auto;
    grid-template-columns: repeat(4, 150px);
  } 
} 


@media screen and (max-width: 675px), screen and (max-height: 700px) { 
  .quiz__container { 
    padding: 0px; 
  } 
 
  .quiz__question-prompt { 
    margin: 0; 
    font-size: 0;
    height: 0;
    padding: 0; 
  } 
 
  .quiz__question-container--show { 
    border-radius: 0px; 
  } 
 
  .quiz__question { 
    margin: 10px; 
    margin-right: 50px;
    font-size: 1.5em; 
    align-self: flex-start; 
    text-align: left; 
  } 
 
  .quiz__close-btn { 
    top: 10px; 
    right: 10px; 
    height: 30px; 
    width: 30px; 
  } 
 
  .quiz__close-btn > path { 
    fill: #929292; 
  } 
 
  .quiz__close-btn:hover > path { 
    fill: #7d97b6; 
  } 
 
  .quiz__close-btn:active > path { 
    fill: #365caa; 
  } 
 
  .quiz__answers--mood {
    border: 1px solid #365caa;
    margin: auto 0;
    column-gap: 0px;
    row-gap: 0px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  } 
 
  .quiz__answer--mood { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    width: 100%; 
    padding: 0; 
    border-radius: 0px; 
    border: 1px solid #365caa; 
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.3); 
    grid-auto-rows: 40px;
  } 
 
  .quiz__nav-btns { 
    justify-content: space-around; 
  } 
 
} 

.nt-iframe {
  position:fixed;
  top:0px; left:0px;
  bottom:0px;
  right:0px;
  width:100%;
  height:100%;
  border:none;
  margin:0;
  padding:0;
  overflow:hidden;
  z-index:999999;
}

.start-session__nt-iframe--hidden { 
  display: none; 
} 

@media screen and (orientation: portrait) {
  .nt-iframe {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
 
@media screen and (max-width: 475px) { 
 
  .quiz__answers--mood { 
    grid-auto-rows: 40px; 
    margin-top: 0; 
    margin-bottom: 0; 
    width: 80%; 
    grid-template-columns: repeat(2, 1fr); 
  } 
 
  .quiz__nav-btns { 
    justify-content: space-around; 
  } 

  .quiz__answer--feeling {
    font-size: 2.5em;
  }
 
} 
 
@media screen and (min-width: 320px) { 
  .quiz__answer--mood { 
    padding-right: calc(16px + 6 * ((100vw - 320px) / 800)); 
    padding-left: calc(16px + 6 * ((100vw - 320px) / 800)); 
    padding-top: 10px;
    padding-bottom: 10px;
  } 
  .quiz__answer--mood > div { 
    //font-size: calc(8px + 6 * ((100vw - 320px) / 680)); 
  } 
} 
 
@media screen and (min-width: 1035px) { 
  .quiz__answer--mood { 
    padding-right: 30px; 
    padding-left: 30px; 
  } 
  .quiz__answer--mood > div { 
    font-size: 16px; 
  } 
}