/* Advice widget style sheet */

* {box-sizing: border-box;}

/* Container styles */

.advice__container {
  width: 100%;
  min-height: 240px;
  height: 100%;
  background-color: #365CAA;
  font-family: 'Roboto', sans-serif;
  border-radius: 7px;  
  box-shadow: 0 5px 15px rgba(0,0,0,0.06), 0 15px 35px rgba(42,51,83,0.12);
  position: relative;
}

/* Tab styles */
.advice__tab {  
  width: 100%;
  height: 45px;  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em; 
  font-weight: 700;  
  text-transform: uppercase; 
  color: white;  
  text-align: center;
  margin: auto;
}

.profile__loading-container {
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background-color: #ffffff; 
  border-radius: 7px; 
  top: 0; 
  left: 0; 
  z-index: 100; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  transition: 0.7s ease-in; 
}

.advice__content {  
  background-image: url("bulb3.png");
  background-size: auto 100%;  
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 5px;   
  //width: calc(100% - 8px);
  height: calc(100% - 49px);
  margin: 0 4px 4px 4px;
  //overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  //position: relative;
  //box-shadow: 0 2px 7px rgba(17,18,18,0.21); 
}

.advice__content--img img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;  
}

.advice__content--text {  
  margin: 20px;    
  //width: 85%;
  //z-index: 1;
  height: 82%;
  overflow-y: auto;
}

.advice__content--text p {  
  margin: 10px auto;
  font-size: calc(0.85em + 2.5vw); 
  font-weight: 700; 
  color: #0C7F40; 
}

.profile__loading-container--fading {
  opacity: 0;
}